* {
	font-size: 18px;
	margin: 0px;
	color: black;
	font-family: 'New Font', BlinkMacSystemFont, Roboto, Ubuntu,'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}
body{
	/*background:  radial-gradient(12rem circle , yellow, orangered);*/
}
main {
	background-color: white;
	width: 60%;
	margin: 50px auto;
	display: flex;
	box-shadow: 1px 5px 10px hsl(217, 54%, 11%);
	justify-content: center;
	flex-direction: column;
	padding: 20px 10%;
	border-radius: 30px;
}
/* Design for the header and navigation starts here */
.Header {
	background-color: hsl(217, 54%, 11%);
	width: 100%;
	align-items: center;
	/*margin: 10px auto;*/
	padding: 10px 0px;
	border-bottom: 1px solid black;
	border-color: white;
}
.navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.navigation>a{
	color: floralwhite;
}
/* End of the navigation and header design */
input,button, textarea, select, option {
	width: 70%;
	color:  hsl(215, 51%, 70%);
	height: 50px;
	padding: 4px 9px;
	font-family: monospace;
	/*border: hidden;*/
	border-right: hidden;
	border-top: hidden;
	border-bottom: hidden;
	border-left: hidden;
	border-radius: 20px;
	border: hidden;
	background-color: hsla(240, 100%, 50%, 0.1);
	color: black;
}
input:focus {
	border: hidden;
	border-bottom: hidden;
	border-right: hidden;
	border-top: hidden;
	border-left: hidden;
	border-bottom-color: red;
	/*border: thistle;*/
}
textarea {
	height: 100%;
}
.required::after {
	content: "*";
	position: relative;
	bottom: 7px;
	color: green;
}
.submit {
	background-color: green;
	color: ghostwhite;
}
a{
	text-decoration: none;
	color: black;
}
.dontsubmit {
	background-color: red;
	color: ghostwhite;
}
label {
	color: black;
	font-weight: 700;
}
/* Beginning to the design of the About Me page */
@media screen and (min-width: 739px) {
	.home_image {
		width: 40%;
		position: relative;
		float: left;
		margin-right: 4%;
	}
	.contact_me {
		display: flex;
		justify-content: center;
		margin: 10px auto;
		width: 50%;
	}
}
@media screen and (max-width: 738px) {
	.Aboutme_sectionA {
		display: flex;
		flex-direction: column;
	}
}
@media screen and (max-width: 738px) {
	.contact_me {
		display: flex;
		justify-content: center;
		margin: 10px auto;
		width: 60%;
	}
}
.contact_me {
	display: flex;
	justify-content: center;
	margin: 10px auto;
	width: 70%;
}
.home_image {
	border-radius: 20px;
	border: 1px solid black;
}
/*Ending of the design for the About Me page*/

/* Beginning of the design for the footer */
.footer {
	/*background-color: bisque;*/
	width: 80%;
	margin: 0px auto;
}
.footer_section {
	display: flex;
	justify-content: space-between;
}
.footer_section>p{
	margin: 3% 5%;
}
/* Ending of the design for the footer */

/* Beginning of the design for the contact me page */
.contact_details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contact_form>div {
	display: flex;
	justify-content: space-between;
	margin: 10px 0px;
}
.contact_form>.contact_submit>input {
	margin: 10px auto;
	width: 40%;
}
textarea {
	padding: 10px 10px;
}
.contact_me_heading, .register_header {
	font-size: 30px;
}
@media screen and (max-width: 768px) {
	.contact_form>div {
		display: flex;
		flex-direction: column;
		margin: 0px auto;
	}
	.contact_form {
		margin: 0px;
		padding: 1px;
	}
}
/* Ending of the design for the contact me page */

/* Beginning of the design for the register page */
@media screen and (max-width: 738px){
	.register_form {
		margin: 0% auto;
		width: 100%;
	}
	.register_form>div, .login_form>div:not(:last-child) {
		display: flex;
		flex-direction: column;
		margin: 20px 0%;
	}
	.register_form>div>label {
		margin: 10px 0%;
	}
	div>label+input, div>label+select, div>label+textarea  {
		width: 100%;
	}
	input[value=Register]{
		width: 50%;
		margin: 0% auto;
	}
	.register_header {
		width: 100%;
		margin: 0;
	}
}
.register_form>div {
	display: flex;
	justify-content: space-between;
	margin: 20px 0px;
}
input[value=Register] {
		width: 50%;
		margin: 0% auto;
	}
.register_header, .contact_me_heading{
	font-size: 7vw;
	text-align: center;
}
/* Ended the design for the Registeration page */

/* Started the design for the login page */
.login_title {
	font-size: 3vw;
	text-align: center;
}
.login_form>div:not(:last-child) {
	display: flex;
	justify-content: space-between;
	margin: 10px 0px;
}
.login_form>div:last-child {
	display: flex;
	justify-content: space-between;
	margin: 10px auto;
}
input[name=Signin], .choose_any>a {
	width: 30%;
	border-radius: 20px;
	text-align: center;
	align-self: center;
	padding: 10px 0px;
}
/* Ended the design for the login page */